.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Default_Fett {
	font-family: Lucida Grande;
	font-size: 13px;
	font-weight: bold;
}

.Default10 {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Default11 {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Methodtext {
	font-family: Courier New;
	font-size: 12px;
}

