.Default {
	font-family: Segoe UI;
	font-size: 12px;
}

.Default_Fett {
	font-family: Segoe UI;
	font-size: 12px;
	font-weight: bold;
}

.Default10 {
	font-family: Segoe UI;
	font-size: 10px;
}

.Default11 {
	font-family: Segoe UI;
	font-size: 11px;
}

.Methodtext {
	font-family: Courier New;
	font-size: 14px;
}

